<extend name="Shared/_Layout"/>
<block name="title">用户登录</block>
<block name="li">

</block>
<block name="RenderBody">

    <div class="col-lg-offset-4">
        <div style="height: 100px;"></div>
        <center>
        <form role="form" method="post" class="form-horizontal" action="{:U('Home/Index/LoginHandle')}">
            <div class="form-group">
                <table>

                    <tr>
                        <td width="70px">
                            <label>邮箱</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="email"name="email" placeholder="邮箱">
                        </td>

                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td width="70px">
                            <label>密&nbsp;&nbsp;码</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" id="password"name="password" placeholder="密码">
                        </td>

                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td width="70px">

                        </td>
                        <td align="right">
                            &nbsp;<button type="submit" class="btn btn-primary">登录</button>
                        </td>
                    </tr>
                </table>


            </div>

        </form>
        </center>
    </div>

<style>

    .col-lg-offset-4{
        width: 500px;height:300px;margin: 20px;
        background: #eeeeee;
        background-color: #eeeeee;
        border: 1px solid #eeeeee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
</style>
</block>