<!-- 引入模板页 -->
<extend name="Shared/_Layout"/>
<block name="title">购物车</block>
<block name="link">

    <script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/prototype.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/mootools.js"></script>
    <load href="__PUBLIC__/js/ThinkAjax.js"/>

</block>

<block name="RenderBody">

    <div class="form-group">


        <h2>购物车</h2>
        <table class="table">
            <tr>
                <th>
                    商品名称
                </th>
                <th>
                    商品价格
                </th>

                <th>
                    商品数量
                </th>
                <th>
                    总价
                </th>
                <th>
                    操作
                </th>

            </tr>
            <!--
            <foreach name="products" item="m">
                <tr>
                    <td>{$m.name}</td>
                    <td>{$m.price}</td>
                    <td>{$m.num}</td>
                    <td>{$m.num}*{$m.price}</td>
                </tr>
            </foreach>
            -->
            {$mQry}
        </table>
        <div class="row show-grid">
            <div class="col-md-2 col-md-offset-10">
                <label>合计:&nbsp;￥{$mPrice}</label>
            </div>
        </div>
    </div>
    <div class="row show-grid">
        <div class="col-md-offset-10">
            {$mBtn}

        </div>
    </div>
    <div class="row show-grid">
        <a href="{:U('Home/Index/index')}" class="col-md-1">返回首页</a>

    </div>

    <!--javascript-->
    <script>
        function buy(i) {

            ThinkAjax.send("{:U('Home/Cart/AddToCartHandle')}", 'ajax=1&productsid=' + i, complete, '')
        }
        function complete(data, status) {
            if (status == 1) {
                alert('添加购物车成功');
            } else {
                alert('添加购物车失败');
            }
        }
        <!--删除产品-->
        function removeToCart(i) {

            ThinkAjax.send("{:U('Home/Cart/RemoveToCartHandle')}", 'ajax=1&productsid=' + i, completeRemove, '')
        }
        function completeRemove(data, status) {
            if (status == 1) {
                alert('移除产品成功');
            } else {
                alert('移除产品失败');
            }
        }

        <!--清空购物车-->
        function clearToCart() {

            if (window.confirm("是否确认要清空购物车?")) {
                // 确认时做的操作
                ThinkAjax.send("{:U('Home/Cart/ClearToCartHandle')}", 'ajax=1', completeClear, '')
            } else {
                // 取消时做的操作
                return false;
            }

        }
        function completeClear(data, status) {
            if (status == 1) {
                alert('移除购物车成功');
                window.location = "{:U('Home/Cart/index')}";
            } else {
                alert('移除购物车失败');
            }
        }
        <!--提交订单-->

        function priceOrderToCart() {

            if (window.confirm("是否确认提交订单吗?")) {

                window.location = "{:U('Home/OrderHeader/index',array('total'=>$mPrice))}";
            } else {
                // 取消时做的操作
                return false;
            }

        }

    </script>
</block>