<!-- 引入模板页 -->
<extend name="Shared/_Layout"/>
<block name="title">页面说明</block>
<block name="link">
    <!--
    <script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/prototype.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/mootools.js"></script>
    <load href="__PUBLIC__/js/ThinkAjax.js"/>
    -->
</block>
<block name="RenderBody">


    <table class="table">
        <thead>
        <tr>

            <th>页面</th>
            <th>描述</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        {$mQry}
        </tbody>
    </table>

    <script>
        $(function () {


            $.each($("table tr"), function (i, item) {

                var save = $(item).find("[id=btn]");

                save.click(function () {

                    var id=$(item).find("[name=rule_id]").text();
                    var describe=$(item).find("[id=describe]").val();

                    $.ajax({
                        url: 'saveDescriebHandle',//后台的方法
                        type: 'post',//数据提交
                        dataType: 'json',//后台返回的数据类型
                        success: function a(data) {
                            if (data == "保存成功!") {
                                alert(data);
                            } else {
                                alert(data);
                                location.reload();
                            }

                        },
                        data: {id:id,describe: describe},//前端的传值
                    })

                });

                });




        })

    </script>
    <style>
        .form-control {
            width: 300px;
        }
    </style>
</block>